body,html,.container {
  margin: 0;
  height: 100%;
}

.background-box {
  background-color: #60B5CC;
  padding: 5rem;
  text-align: center;
}

.logo {
  width: 5rem;
}

@media all and (min-width: 600px) {
  /* desktop */
  .background-box {
    padding: 10rem;
    text-align: center;
  }

  .logo {
    width: 10rem;
  }
}
